/* styles généraux */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section{
    padding: 15vh 0px;
}

.container{
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
}

h2{
    font-family: 'DM Serif Display', serif;
    font-size: 48px;
    margin-bottom: 35px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

button{
    display: flex;
    align-self: start;
    justify-content: center;
    align-items: center;
    padding: 20px 45px;
    border: 0;
    border-radius: 2px;
    background: #124559;
    color: #FFFFFF;
    margin-top: 30px;
    cursor: pointer;
}

/* fin des styles generaux */


/* style header */
header{
    background-color: #aec3b080;
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 10px #aec3b050;
}
.scolling-menu{

    display: flex;
    flex-direction: row-reverse;
    height: 32px;
    border-width: 2px;
    gap: 20px;

}
.scolling-menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
}
.boutonmenu:hover{
    background-color: #aec3b0;
}
/* fin style header */
.logohead{
    display: flex;
    justify-content: center;
    height: 200px;
    border: 2px;
    margin-bottom: 50px;
}
.logohead img{
    border-style: solid;
    border-width: 2px;
    border-color: #aec3b0;
    margin-top: 10px;
}
.imghead{
    display: flex;
    justify-content: center;
    border: 2px;
}
.imghead img{
    border-style: solid;
    border-width: 10px;
    border-color: #aec3b0;
    margin-top: 10px;
    max-width: 100%;
}
.banniere{
    background-color: #eff6e0;
}
/* style main */

section.presentation{
    background-color: #EFF6E0;
    position: relative;
}

section.presentation .container{
    display: flex;
}


/* Texte presentation */
section.presentation .zone-txt{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
}

section.presentation h2,
section.presentation p{
    color: #01161E;
}

section.presentation p{
    width: 90%;
}


/* Image presentation */
section.presentation .zone-img{
    flex: 1;
    z-index:2;
}

section.presentation .zone-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Green rectangle */
section.presentation .green-rectangle{
    position: absolute;
    right: 0;
    top: 10%;
    border-radius: 3px;
    background-color: #AEC3B0;
    width: 15vw;
    height: 80%;
    z-index: 1;
}

/* Responsive section Presentation */
@media (max-width: 768px){
    section.presentation .container{
        flex-direction: column;
        gap: 20px;
    }

    section.presentation p{
        width: 100%;
    }

    section.presentation .green-rectangle{
        display: none;
    }


}


/* fin style main */

/* style footer */
section.localisation {
    background: linear-gradient(180deg, rgba(239, 246, 224, 0.00) 0%, #EFF6E0 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.Image-bottom  {
    width: 250px;
    height:250px
}

.bottom-right {

display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.bottom-right p {

    padding-right: 60px;
    padding-left: 60px;
    text-align: left;
    font-family:'DM Serif Display', serif;
}

.localisation h2 {
    margin-bottom: 100px;

}
/* fin style footer */