/* styles généraux */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section{
    padding: 15vh 0px;
}

.container{
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
}

h2{
    font-family: 'DM Serif Display', serif;
    font-size: 48px;
    margin-bottom: 35px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

button{
    display: flex;
    align-self: start;
    justify-content: center;
    align-items: center;
    padding: 20px 45px;
    border: 0;
    border-radius: 2px;
    background: #124559;
    color: #FFFFFF;
    margin-top: 30px;
    cursor: pointer;
}

/* fin des styles generaux */


/* style header */
/* fin style header */

/* style main */

section.presentation{
    background-color: #EFF6E0;
    position: relative;
}

section.presentation .container{
    display: flex;
}


/* Texte presentation */
section.presentation .zone-txt{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
}

section.presentation h2,
section.presentation p{
    color: #01161E;
}

section.presentation p{
    width: 90%;
}


/* Image presentation */
section.presentation .zone-img{
    flex: 1;
    z-index:2;
}

section.presentation .zone-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Green rectangle */
section.presentation .green-rectangle{
    position: absolute;
    right: 0;
    top: 10%;
    border-radius: 3px;
    background-color: #AEC3B0;
    width: 15vw;
    height: 80%;
    z-index: 1;
}

/* Responsive section Presentation */
@media (max-width: 768px){
    section.presentation .container{
        flex-direction: column;
        gap: 20px;
    }

    section.presentation p{
        width: 100%;
    }

    section.presentation .green-rectangle{
        display: none;
    }


}


/* fin style main */

/* style footer */
/* fin style footer */